.Table_container{
    border: 3px solid black;
    border-radius: 15px;
    margin: 30px;
}
.colorful-table {
  background-color: #f7f9fc;
}

.colorful-table th,
.colorful-table td {
  border: 1px solid #dee2e6;
  padding: 8px;
}



/* mreq.css */

/* Matte red color for rejected rows */
.rejected-row {
  background-color: #fcd8d2; /* Bootstrap's matte red color */
  color: black; /* Optional: Set text color to white for better readability */
}

/* Light green color for approved rows */
.approved-row {
  background-color: #b9fada;
  color: black; /* Optional: Set text color for better readability */
}

/* Additional styles to maintain table aesthetics */
.table-container {
  overflow-x: auto;
  padding-left: 20px;
  padding-right: 20px;
}

.table {
  width: 100%;
  border-collapse: collapse;
}

.table th, .table td {
  border: 1px solid #ddd;
  padding: 8px;
}

.table th {
  background-color: #f2f2f2;
}
/* Pagination styles */
.pagination {
  display: flex;
  justify-content: center;
  padding: 1rem 0;
  list-style: none;
}

.pagination__link {
  margin: 0 5px;
  padding: 8px 12px;
  border: 1px solid #ddd;
  cursor: pointer;
  text-decoration: none;
  color: #007bff;
}

.pagination__link--active {
  background-color: #007bff;
  color: white;
}

.pagination__link--disabled {
  cursor: not-allowed;
  opacity: 0.6;
}

